<p>
  <% form_for :event, event, :url => calendar_events_path(@calendar) do |f| %>
    
	
	<%= f.error_messages %>
	  <p>
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.text_area :description %>
	  </p>
	  <p>
        <%= f.submit "Create" %>
	  </p>
  <% end %>
</p>